gevent
cyy_torch_toolbox@git+ssh://git@github.com/cyyever/torch_toolbox.git@main
cyy_torch_text@git+ssh://git@github.com/cyyever/torch_text.git@main
cyy_torch_vision@git+ssh://git@github.com/cyyever/torch_vision.git@main
cyy_torch_algorithm@git+ssh://git@github.com/cyyever/torch_algorithm.git@main
